
  /* Đặt các tag trong cùng 1 hàng */
  .page_tabs li {
    display: inline-block;
    margin-right: 10px;
  }
  .container1 {
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    margin: 0 auto; /* Center the div horizontally */
    outline: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    
    
  }
  
  
  /* Define styles for the filter button */
.filter_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
  
  /* Define styles for the active filter button */
  
  