@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/1669736835_ca-phe-sua-da_ecadaeeedef34cce898764ee63b12f7d_large.png") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/latte-da_438410_9efee2ac7712462c9b9866304a1f8818_large.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/1675357918_cloudfee-hanh-nhan-nuong-min_0fb61b77a9be41e5b1fe7ecfb8b8ca19_large.png") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/1636647328_arme-nong_46df616d5b97400da548e295da9352a4_large.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-5 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/1669736893_hi-tea-vai_7644bc90667a4ba881f7796f7d4dd644_large.png") no-repeat center;
    background-size: cover;
}
.section-products #product-6 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/1639377904_bac-siu_e36a71b3a35548ba98b3589a88169bbd_large.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-7 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/bottlecfsd_496652_bc4ae40ad16d4984abec4a3974a6b883_large.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-8 .part-1::before {
    background: url("https://product.hstatic.net/1000075078/product/latte_851143_0f4b72f4e9d44984b3f96941ecd82874_large.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
.section-menu{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    min-height: 1px;
    padding-left: 24px;
    float: left;
    top: 70px;
    position: sticky;
    left: 0;
    padding-right: 53px;
    width: 19.5%;

  
}

  
 
.section-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-menu {
    flex-basis: 100%;
    order: 1;
  }
  
  .section-products {
    flex-basis: 100%;
    order: 2;
  }
  
  @media screen and (min-width: 768px) {
    .section-menu {
      flex-basis: 25%;
      order: 1;
    }
    
    .section-products {
      flex-basis: 75%;
      order: 2;
    }
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    border-bottom: 1px solid #ddd;
}

nav li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

nav li.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.dropdown-menu li a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.dropdown-menu li:hover a {
    color: white;
    background-color: orange; /* Add this line to change text color */
}
.content {
    margin-left: 200px;
    padding: 20px;
}